.container{
    align-items: center;
    background-color: ivory;
    color: darkslategrey;
    display:flex;
    flex-direction: column;
    height:100%;
    justify-content: center;
    position:relative;
    width:100%; 
}